<div class="textbody" style="margin-top:15px">
  Visas Atviro Seimo svetainės ir informacijos surinkimo programinis kodas yra <a href="http://code.google.com/p/atviras-seimas"> viešai preinamas</a>.
</div>

<div class="textbody">Atvirame Seime naudojami duomenys pateikimi formatais, tinkamais kompiuterinei analizei.
Prie Seimo nario(-ės) puslapio adreso pridėjus formato pavadinimą galima gauti informaciją apie tą Seimo narį(-ę) atitinkamu formatu.
Šiuo metu palaikomi XML ir JSON formatai.
Pavyzdžiui, Justino Karoso duomenys XML ir JSON formatais yra pasiekiami adresais:
<div class="apilink textbody"><a href="http://seimas.idemokratija.info/seimo_nariai/politikas/Justinas_Karosas.xml">http://seimas.idemokratija.info/seimo_nariai/politikas/Justinas_Karosas.xml</a></div>
<div class="apilink textbody"><a href="http://seimas.idemokratija.info/seimo_nariai/politikas/Justinas_Karosas.json">http://seimas.idemokratija.info/seimo_nariai/politikas/Justinas_Karosas.json</a></div>
Pats failų formatas keisis ir ilgainiui turėtų atsirasti RDF formatas,
leidžiantis Seimo narių darbo analizei panaudoti semantinių tinklų technologijas. </div>

<div class="textbody">Dalis duomenų pateikiami kitokia forma (kol kas neatitinka aukščiau aprašyto būdo)</div>

<div class="textbody">Seimo narių sąrašas (vėliau planuojamas teikti <a href="http://www.foaf-project.org">Friend of  a Friend formatu<a>)</div>
<div class="apilink textbody"><a href="http://seimas.idemokratija.info/xml/seimo_nariai">http://seimas.idemokratija.info/xml/seimo_nariai</a></div>

<div class="textbody">Seimo narių komandiruočių duomenys pasiekiami keliais būdais:</div>

<div class="textbody">Visos Seimo narių komandiruotės: <a href="http://seimas.idemokratija.info/xml/komandiruotes">http://seimas.idemokratija.info/xml/komandiruotes<a></div>

<div class="textbody">Komandiruotės pagal Seimo narius: http://seimas.idemokratija.info/xml/komandiruotes_seimas/[X]</div>

<div class="textbody">čia [X] yra Seimo nario kodas, kurį galima rasti Seimo narių XML sąraše. Pavyzdžiui, Alfredo Pekeliūno komandiruotės pasiekiamos adresu:</div>

<div class="apilink textbody"><a href="http://seimas.idemokratija.info/xml/komandiruotes_seimas/SN0008">http://seimas.idemokratija.info/xml/komandiruotes_seimas/SN0008</a></div>

<div class="textbody">Komandiruotės pagal šalis: http://seimas.idemokratija.info/xml/komandiruotes_salis/[X]</div>

<div class="textbody">čia [X] yra šalies ISO kodas. Pavyzdžiui, visos Seimo narių komandiruotės Kenijoje yra pasiekiamos adresu:</div>

<div class="apilink textbody"><a href="http://seimas.idemokratija.info/xml/komandiruotes_salis/KE">http://seimas.idemokratija.info/xml/komandiruotes_salis/KE</a></div>

<script>
	endProgress();
</script>
